@model List<WebMediaClient.Models.SectionViewModel>

<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			@foreach (var item in Model)
			{
				<div class="list-group-item">
					@Html.ActionLink(item.Name, "GetSectionByID", "Section", new { ID = item.ID }, null);
				</div>
			}
		</div>
	</div>
</div>

