@model List<WebMediaClient.Models.VideoViewModel>

@{
    ViewBag.Title = "GetVideosForUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetVideosForOwner</h2>

<div class="row">
	<div class="col-md-8">
		<div class="list-group">
			@foreach (var item in Model)
			{
				<div class="list-group-item">
					@Video.Flash(item.Location,
									   "400",
									   "500",
									   false,
									   false,
									   true,
									   "blue",
									   "high",
									   "exactfit",
										"window")
				</div>
			}
		</div>
	</div>
</div>
@if(@ViewBag.User.ID == @ViewBag.UserID)
{
	<div class="row">
		<div class="col-md-8">
			@Html.ActionLink(Resources.UploadVideo, "CreateVideo", "Video", new { userID = @ViewBag.User.ID }, new { @id = "add_video_link" })
		</div>
	</div>
}

