@model WebMediaClient.Models.VideoViewModel
@using Microsoft.Web.Helpers;
@{
    ViewBag.Title = "GetVideoByID";
    Layout = null;
}

<h2>GetVideoByID</h2>

@Video.Flash(@Model.Location,
			 "400",
			 "500",
			 true,
			 false,
			 false,
			 "blue",
			 "high",
			 "exactfit",
			 "transparent")
