<script type="text/javascript">
	function searchSection() {
		var name = $("#name_text_section").val();
		if (name == null || name == "") {
			alert("Name must be filled out");
			return false;
		}
		var link = '@Url.Action("SearchBySectionName", "Section", new { name = "oooo" })';
		link = link.replace("oooo", name);
		window.location.href = link;
	}
</script>

<ul id="actions_list_section" class="nav navbar-nav navbar-right">
	<li>@Resources.Name: <textarea id="name_text_section"></textarea></li>
	<li><button class="btn btn-default" onclick="searchSection()">@Resources.Search</button></li>
</ul>

