
@{
    ViewBag.Title = "ConfirmRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>A confirmation email has been sent to you.</h2>
@Html.ActionLink("Homepage", "Index", "Home", null, new { @id = "homepage_link" });



