@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
	<h2>@ViewBag.Message</h2>
	<button id="redirect_home" hidden="hidden" onclick="redirectHome()"></button>
    <div>
    
    </div>
</body>
</html>

<script type="text/javascript">
	window.onload = function() { document.getElementById("redirect_home").click() }

	function redirectHome() {
		window.location.href = '@Url.Action("Index", "Home")';
	}
</script>
