@model WebMediaClient.Models.SettingViewModel

@{
    ViewBag.Title = "GetSettingByOwnerAndType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get setting by ownerID And type</h2>

<script type="text/javascript">
	function changePublicity(){
		var dropDownList = document.getElementById("publicity_list");
		var publicity = dropDownList.options[dropDownList.selectedIndex].text;
		var link = '@Html.Raw(Url.Action("ChangePublicity", "Settings", new { settingID = @Model.ID, publicity = "oooo" }))';
		link = link.replace("oooo", publicity);
		$.ajax
		({
			url: link,
			dataType: 'json',
			type: 'PUT',
			success: function (data) {
			}
		})
	}
</script>

<div class="row">
	<div class="form-group">
		@Html.LabelFor(m => m.Publicity, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.EnumDropDownListFor(m => m.Publicity, new { @id = "publicity_list", @class = "form-control" })
		</div>
		<div class="col-md-8">
			<button id="change_publicity" class="btn btn-default" onclick="changePublicity()">Update</button>
		</div>
	</div>
</div>


